---
import RowTextImage from "../../components/RowTextImage.astro";
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import blog1Image from "../../assets/use-cases/sales-1.png";
import blog2Image from "../../assets/use-cases/sales-2.png";
import blog3Image from "../../assets/use-cases/sales-3.png";

export const frontmatter = {
  title: "Content Genius for sales",
  description:
    "With the help of AI, users can create compelling messages tailored to their audience and boost their campaigns through engaging communication",
  keywords:
    "boost conversions, persuasive sales pitches, craft the perfect message, personalized messages, engaging messages",
};
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  keywords={frontmatter.keywords}
>
  <main class="py-20">
    <article class="container">
      <header class="relative mb-24">
        <h1
          class="text-gray-900 font-semibold text-4xl lg:text-5xl lg:leading-[1.1] mb-4 max-w-[25ch]"
        >
          Boost Conversions with Content Genius
        </h1>
        <p class="max-w-[65ch] text-lg lg:text-xl leading-8 mb-8 md:mb-12">
          Enhance your sales performance with Content Genius. Create persuasive
          pitches, streamline outreach, and craft high-quality sales collateral
          in mere minutes!
        </p>
        <a
          href="https://app.contentgenius.io/"
          class="inline-block bg-pink-500 rounded-full text-white px-6 py-3 whitespace-nowrap font-medium"
          >Start free trial</a
        >
        <div
          class="absolute -z-10 -top-24 -left-24 w-[18rem] h-[18rem] bg-gradient-to-tr from-fuchsia-50 to-white rounded-full"
        >
        </div>
        <div
          class="absolute -z-10 -bottom-0 right-0 w-[18rem] h-[18rem] bg-gradient-to-tr from-indigo-50 to-white rounded-full"
        >
        </div>
      </header>
      <section>
        <div class="container py-12 space-y-8">
          <RowTextImage
            title="Supercharge Your Sales Pitches"
            text="Let Content Genius create compelling, persuasive sales pitches tailored for your audience. Our AI will help you craft the perfect message to close deals faster."
            ctaText="Create winning pitches"
          >
            <Image
              loading="lazy"
              src={blog1Image}
              alt="Sales pitches assistatnt prompt"
            />
          </RowTextImage>
          <RowTextImage
            imageFirst={true}
            title=" Boost Your Outreach Game"
            text="Streamline your email and LinkedIn outreach campaigns with Content Genius. Our AI will help you craft personalized, engaging messages that resonate with your prospects."
            ctaText="Enhance your outreach"
          >
            <Image
              loading="lazy"
              src={blog2Image}
              alt="Sales outreach assistant prompt"
            />
          </RowTextImage>
          <RowTextImage
            title="Sales Collateral Made Easy"
            text="Content Genius is your secret weapon for creating professional sales materials. From product presentations to case studies, our AI has you covered."
            ctaText="Upgrade sales content"
          >
            <Image
              loading="lazy"
              src={blog3Image}
              alt="Sales content assistant prompt"
            />
          </RowTextImage>
        </div>
      </section>
    </article>
  </main>
</Layout>
