---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../assets/index.pcss";
import GoogleTagManager from "./GoogleTagManager.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

import {
  SITE_TITLE,
  SITE_URL,
  SITE_DESCRIPTION,
  SITE_OG_IMAGE_URL,
} from "../config";

export interface Props {
  title?: string;
  og_description?: string;
  og_image?: string;
  keywords?: string;
}

const {
  title = SITE_TITLE,
  og_description = SITE_DESCRIPTION,
  og_image = SITE_OG_IMAGE_URL,
  keywords,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, SITE_URL);

const schema_org = JSON.stringify({
  "@context": "https://schema.org",
  "@type": "OnlineBusiness",
  name: "Content Genius",
  url: "https://contentgenius.io/",
  logo: "https://contentgenius.io/favicon.svg",
  email: "hq@contentgenius.io",
  sameAs: [
    "https://twitter.com/contentgeniusio",
    "https://www.reddit.com/r/contentgeniusio/",
  ],
});
---

<!-- Primary Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{`${title && title + " |"} ${SITE_TITLE}`}</title>
<link rel="canonical" href={canonicalURL} />
<GoogleFontsOptimizer
  url="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&display=swap"
/>
<meta name="title" content={`${title} ${title && "|"} ${SITE_TITLE}`} />
{
  Astro.props.og_description && (
    <meta name="description" content={og_description} />
  )
}
{keywords && <meta name="keywords" content={keywords} />}

<!-- Open Graph / Facebook / LinkedIn -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title || SITE_TITLE} />
<meta property="og:description" content={og_description} />
<meta property="og:image" content={SITE_URL + og_image} />

<!-- Twitter -->
<meta name="twitter:title" content={title || SITE_TITLE} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@contentgeniusio" />
<meta name="twitter:description" content={og_description} />
<meta name="twitter:image" content={SITE_URL + og_image} />

<meta
  name="naver-site-verification"
  content="3b04c1a0cbb253e39502483512d9c179cd305721"
/>
<script type="application/ld+json" set:html={schema_org}></script>
<GoogleTagManager id="GTM-M5ZNS2FF" />
