---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../assets/index.pcss";

import {
  SITE_TITLE,
  SITE_URL,
  SITE_DESCRIPTION,
  SITE_OG_IMAGE_URL,
} from "../config";
import GoogleAnalitics from "./GoogleAnalitics.astro";

export interface Props {
  title?: string;
  og_description?: string;
  og_image?: string;
}

const {
  title = SITE_TITLE,
  og_description = SITE_DESCRIPTION,
  og_image = SITE_OG_IMAGE_URL,
} = Astro.props;
---

<!-- Goggle Analytics -->
<GoogleAnalitics />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={og_description} />

<!-- Open Graph / Facebook / LinkedIn -->
<meta name="type" property="og:type" content="website" />
<meta name="url" property="og:url" content={SITE_URL} />
<meta name="title" property="og:title" content={title} />
<meta name="description" property="og:description" content={og_description} />
<meta name="image" property="og:image" content={SITE_URL + og_image} />

<!-- Twitter -->
<meta name="twitter:title" content={title} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@contentgeniusio" />
<meta name="twitter:description" content={og_description} />
<meta name="twitter:image" content={SITE_URL + og_image} />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
  rel="stylesheet"
/>
