---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { dateToFormat } from "../helpers/dateToFormat";

export interface Props {
  content: {
    title: string;
    description: string;
    image: {
      src: string;
      alt: string;
    };
    openGraph: {
      image: string;
      description: string;
    };
    publishDate: string;
  };
}

const {
  content: { title, description, openGraph, publishDate, image },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} og_image={image.src} og_description={description} />
  </head>
  <body class="font-sans bg-gray-900 text-gray-300 antialiased">
    <Header />
    <main class="pt-20 py-32">
      <article class="mx-auto">
        <header class="container max-w-3xl mb-12">
          <h1 class="mb-3 font-bold text-gray-200 text-5xl leading-[1.25]">
            {title}
          </h1>
          {description &&
            (<p class="text-lg leading-8 mb-6">{description}</p>)
          }
          <time class="mb-8 block text-sm text-gray-400" datetime={publishDate}
            >{dateToFormat(publishDate)}</time
          >
          {
            image?.src && (
              <img
                src={image?.src}
                alt={image.alt}
                class="border border-gray-700 rounded w-full h-96 object-cover mt-10"
              />
            )
          }
        </header>
        <div
          class="container max-w-3xl prose xl:prose-lg prose-headings:text-gray-100 prose-a:text-gray-100 prose-ul:text-gray-300 prose-ol:text-gray-300 prose-strong:text-gray-200 prose-p:text-gray-300 prose-hr:border-gray-600"
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
