---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { dateToFormat } from "../helpers/dateToFormat";

// export interface Props {
//   content: {
//     title: string;
//     description: string;
//     cover: string;
//     openGraph: {
//       image: string;
//       description: string;
//     };
//     publishDate: string;
//   };
// }

const { frontmatter } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={frontmatter.title}
      og_image={frontmatter.openGraph.image}
      og_description={frontmatter.description}
    />
  </head>
  <body class="font-sans text-zinc-600 antialiased">
    <Header />
    <main class="pt-20 py-32">
      <article
        class="mx-auto"
        itemscope
        itemtype="https://schema.org/BlogPosting"
      >
        <header class="container max-w-3xl mb-12">
          <h1
            class="mb-3 font-bold text-gray-900 text-5xl leading-[1.25]"
            itemprop="headline"
          >
            {frontmatter.title}
          </h1>
          {
            frontmatter.description && (
              <p class="text-lg leading-8 mb-6">{frontmatter.description}</p>
            )
          }
          <time
            class="mb-8 block text-sm text-gray-400"
            datetime={frontmatter.publishDate}
            itemprop="datePublished"
            content={frontmatter.publishDate}
            >{dateToFormat(frontmatter.publishDate)}</time
          >
          <div class="md:-mx-12 xl:-mx-24">
            <slot name="cover" />
          </div>
        </header>
        <div
          class="container max-w-3xl prose xl:prose-lg prose-headings:text-zinc-900 prose-a:text-zinc-600 prose-ul:text-zinc-600 prose-ol:text-zinc-600 prose-strong:text-zinc-600 prose-p:text-zinc-600 prose-hr:border-zinc-600"
          itemprop="articleBody"
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
  ...
</html>
